:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

table, th, td { 
  border: 1px solid grey;
  border-collapse: collapse;
}

tfoot {
  padding: 10px;
}

/* #overallScore {
  margin-top: 10px;
  margin-bottom: 10px;
} */